Tangra 3/Service References/TangraService/ErrorReports1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReportError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errorInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportErrorResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReportErrorWithAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errorInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportErrorWithAttachmentResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportErrorSoapIn">
    <wsdl:part name="parameters" element="tns:ReportError" />
  </wsdl:message>
  <wsdl:message name="ReportErrorSoapOut">
    <wsdl:part name="parameters" element="tns:ReportErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ReportErrorWithAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:ReportErrorWithAttachment" />
  </wsdl:message>
  <wsdl:message name="ReportErrorWithAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:ReportErrorWithAttachmentResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ReportError">
      <wsdl:input message="tns:ReportErrorSoapIn" />
      <wsdl:output message="tns:ReportErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportErrorWithAttachment">
      <wsdl:input message="tns:ReportErrorWithAttachmentSoapIn" />
      <wsdl:output message="tns:ReportErrorWithAttachmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportError">
      <soap:operation soapAction="http://tempuri.org/ReportError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportErrorWithAttachment">
      <soap:operation soapAction="http://tempuri.org/ReportErrorWithAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportError">
      <soap12:operation soapAction="http://tempuri.org/ReportError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportErrorWithAttachment">
      <soap12:operation soapAction="http://tempuri.org/ReportErrorWithAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.tangra-observatory.org/TangraErrors/ErrorReports.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.tangra-observatory.org/TangraErrors/ErrorReports.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>